<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <feedaty_global>
            <feedaty_preferences>
                <debug_mode_enabled>0</debug_mode_enabled>
            </feedaty_preferences>
            <feedaty_sendorder>
                <sendorder>complete</sendorder>
            </feedaty_sendorder>
        </feedaty_global>
    </default>
</config>
